easywater*.json
*.vscode
*__pycache__
pi-rc522/
/__pycache__/
*.env
*/venv/
*.json

pycache in gitignorePython By Ashamed Aardvark on Jan 8 2021
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Firebase service
easywater-ab61b-firebase-adminsdk-pedxo-ab3626c9ae.json
.easywater-ab61b-firebase-adminsdk-pedxo-ab3626c9ae.json
easywater-ab*.json