[Unit]

Description=NandaGopal

Documentation=https://google.com

After=multi-user.target

Wants=network-online.target



[Service]

Type=simple

RemainAfterExit=yes

ExecStart=/home/pi/miniconda3/bin/python /home/pi/Desktop/easy-water/main.py > /home/Desktop/easy-water/easyWaterService.log 2>&1

Restart=always

WorkingDirectory=/home/pi/Desktop/easy-water/

User=pi

StandardInput=tty-force

StandardOutput=append:/home/Desktop/easy-water/stdout.log
StandardOutput=journal+console

StandardError=append:/home/Desktop/easy-water/errors.log



[Install]

RequiredBy = multi-user.target

